@model List<Entity.Concrete.Form>

</ul>
<div class="row w-100">
	<div class="input-group mb-3">
		<input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
		<div class="input-group-prepend">
			<button class="btn btn-outline-secondary" type="button">Ara</button>
		</div>
		
	</div>
</div>
<div class="row mt-3">
	<!-- Sol taraftaki sidebar -->
	<div class="col-md-3">
		<div class="sidebar">
			<a class="btn btn-primary btn-block mb-3" asp-action="AddForm" asp-controller="Forms">Form Ekle</a>
			<!-- Diğer sidebar öğeleri -->
		</div>
	</div>
	<!-- Sağ taraftaki ana ekran -->
	<div class="col-md-9">
		<div class="row">
			<!-- Ürün kartları -->

			@foreach(var form in Model)
			{
				<div class="col-md-4">
					<div class="card mb-3">
						<div class="card-body">
							<h5 class="card-title"> @form.Name </h5>
							<p class="card-text">  @form.CreatedAt </p>
                            <a href="#" class="btn btn-primary"> Aç </a>
						</div>
					</div>
				</div>
			}

			
			
		</div>
	</div>
</div>